# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [40]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
import sys
sys.path.insert(0, '/Users/morgananderson/Desktop/Class/World_Weather_Analysis')
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [41]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")

# Display sample data
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,East London,ZA,-33.0153,27.9116,61.74,100,100,3.44,thunderstorm with rain
1,1,Raudeberg,NO,61.9875,5.1352,52.47,42,35,9.40,scattered clouds
2,2,Vaini,TO,-21.2000,-175.2000,71.76,83,20,8.05,few clouds
3,3,Butaritari,KI,3.0707,172.7902,82.11,75,100,17.49,overcast clouds
4,4,Alice Springs,AU,-23.7000,133.8833,57.22,39,100,5.75,overcast clouds

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [7]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is the minimum temperature you would like for your trip?"))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the maximum temperature you would like for your trip?"))

What is the minimum temperature you would like for your trip?75
What is the maximum temperature you would like for your trip?90

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [8]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                      (city_data_df["Max Temp"] >= min_temp)]
                                    
# Display sample data
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
3,3,Butaritari,KI,3.0707,172.7902,82.11,75,100,17.49,overcast clouds
5,5,Guerrero Negro,MX,27.9769,-114.0611,80.60,62,0,9.64,clear sky
8,8,Panama City,PA,8.9936,-79.5197,87.13,74,40,12.66,scattered clouds
10,10,Corn Island,NI,12.1694,-83.0418,82.62,73,98,2.68,overcast clouds
13,13,Kamsack,CA,51.5667,-101.9009,77.72,28,1,6.58,clear sky
15,15,Kutum,SD,14.2000,24.6667,79.29,42,58,13.02,broken clouds
34,34,Padang,ID,-0.9492,100.3543,76.82,86,100,4.70,overcast clouds
38,38,Georgetown,MY,5.4112,100.3354,81.95,91,20,3.44,thunderstorm
42,42,Puerto Ayora,EC,-0.7393,-90.3518,76.96,90,65,5.99,broken clouds
43,43,Hithadhoo,MV,-0.6000,73.0833,81.97,74,100,11.27,overcast clouds

In [9]:
preferred_cities_df.count()

City_ID                195
City                   195
Country                195
Lat                    195
Lng                    195
Max Temp               195
Humidity               195
Cloudiness             195
Wind Speed             195
Current Description    195
dtype: int64

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [10]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna()

# Display sample data
clean_travel_cities.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
3,3,Butaritari,KI,3.0707,172.7902,82.11,75,100,17.49,overcast clouds
5,5,Guerrero Negro,MX,27.9769,-114.0611,80.60,62,0,9.64,clear sky
8,8,Panama City,PA,8.9936,-79.5197,87.13,74,40,12.66,scattered clouds
10,10,Corn Island,NI,12.1694,-83.0418,82.62,73,98,2.68,overcast clouds
13,13,Kamsack,CA,51.5667,-101.9009,77.72,28,1,6.58,clear sky

In [11]:
clean_travel_cities.count()

City_ID                195
City                   195
Country                195
Lat                    195
Lng                    195
Max Temp               195
Humidity               195
Cloudiness             195
Wind Speed             195
Current Description    195
dtype: int64

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [12]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# Display sample data
hotel_df.head(10)

              City Country  Max Temp Current Description      Lat       Lng
3       Butaritari      KI     82.11     overcast clouds   3.0707  172.7902
5   Guerrero Negro      MX     80.60           clear sky  27.9769 -114.0611
8      Panama City      PA     87.13    scattered clouds   8.9936  -79.5197
10     Corn Island      NI     82.62     overcast clouds  12.1694  -83.0418
13         Kamsack      CA     77.72           clear sky  51.5667 -101.9009
15           Kutum      SD     79.29       broken clouds  14.2000   24.6667
34          Padang      ID     76.82     overcast clouds  -0.9492  100.3543
38      Georgetown      MY     81.95        thunderstorm   5.4112  100.3354
42    Puerto Ayora      EC     76.96       broken clouds  -0.7393  -90.3518
43       Hithadhoo      MV     81.97     overcast clouds  -0.6000   73.0833

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [13]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"] = ""

# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Butaritari,KI,82.11,overcast clouds,3.0707,172.7902,
5,Guerrero Negro,MX,80.60,clear sky,27.9769,-114.0611,
8,Panama City,PA,87.13,scattered clouds,8.9936,-79.5197,
10,Corn Island,NI,82.62,overcast clouds,12.1694,-83.0418,
13,Kamsack,CA,77.72,clear sky,51.5667,-101.9009,
15,Kutum,SD,79.29,broken clouds,14.2000,24.6667,
34,Padang,ID,76.82,overcast clouds,-0.9492,100.3543,
38,Georgetown,MY,81.95,thunderstorm,5.4112,100.3354,
42,Puerto Ayora,EC,76.96,broken clouds,-0.7393,-90.3518,
43,Hithadhoo,MV,81.97,overcast clouds,-0.6000,73.0833,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [14]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [15]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [16]:
# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Butaritari,KI,82.11,overcast clouds,3.0707,172.7902,Isles Sunset Lodge
5,Guerrero Negro,MX,80.60,clear sky,27.9769,-114.0611,"Casa Laguna, Bed & Breakfast"
8,Panama City,PA,87.13,scattered clouds,8.9936,-79.5197,Trump International Hotel & Tower Panama
10,Corn Island,NI,82.62,overcast clouds,12.1694,-83.0418,Big Fish Guest House
13,Kamsack,CA,77.72,clear sky,51.5667,-101.9009,Liquor Store Kamsack & Woodlander Hotel
15,Kutum,SD,79.29,broken clouds,14.2000,24.6667,Dibbo areaمنطقة دبو
34,Padang,ID,76.82,overcast clouds,-0.9492,100.3543,Mercure Padang
38,Georgetown,MY,81.95,thunderstorm,5.4112,100.3354,Cititel Penang
42,Puerto Ayora,EC,76.96,broken clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
43,Hithadhoo,MV,81.97,overcast clouds,-0.6000,73.0833,Scoop Guest House

In [18]:
hotel_df.count()

City                   195
Country                195
Max Temp               195
Current Description    195
Lat                    195
Lng                    195
Hotel Name             195
dtype: int64

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [33]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df[hotel_df["Hotel Name"]!=""].copy()

# Display sample data
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Butaritari,KI,82.11,overcast clouds,3.0707,172.7902,Isles Sunset Lodge
5,Guerrero Negro,MX,80.60,clear sky,27.9769,-114.0611,"Casa Laguna, Bed & Breakfast"
8,Panama City,PA,87.13,scattered clouds,8.9936,-79.5197,Trump International Hotel & Tower Panama
10,Corn Island,NI,82.62,overcast clouds,12.1694,-83.0418,Big Fish Guest House
13,Kamsack,CA,77.72,clear sky,51.5667,-101.9009,Liquor Store Kamsack & Woodlander Hotel
15,Kutum,SD,79.29,broken clouds,14.2000,24.6667,Dibbo areaمنطقة دبو
34,Padang,ID,76.82,overcast clouds,-0.9492,100.3543,Mercure Padang
38,Georgetown,MY,81.95,thunderstorm,5.4112,100.3354,Cititel Penang
42,Puerto Ayora,EC,76.96,broken clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
43,Hithadhoo,MV,81.97,overcast clouds,-0.6000,73.0833,Scoop Guest House

In [34]:
clean_hotel_df.count()

City                   191
Country                191
Max Temp               191
Current Description    191
Lat                    191
Lng                    191
Hotel Name             191
dtype: int64

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [ ]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [35]:
# Set the file name.
output_data_file = "../Vacation_Search/WeatherPy_vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [36]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [37]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>Isles Sunset Lodge</dd>\n<dt>City</dt><dd>Butaritari</dd>\n<dt>Country</dt><dd>KI</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 82.11 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Casa Laguna, Bed & Breakfast</dd>\n<dt>City</dt><dd>Guerrero Negro</dd>\n<dt>Country</dt><dd>MX</dd>\n<dt>Current Weather</dt><dd>clear sky and 80.6 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Trump International Hotel & Tower Panama</dd>\n<dt>City</dt><dd>Panama City</dd>\n<dt>Country</dt><dd>PA</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 87.13 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Big Fish Guest House</dd>\n<dt>City</dt><dd>Corn Island</dd>\n<dt>Country</dt><dd>NI</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 82.62 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Liquor Store Kamsack & Woodlander Hotel</dd>\n<dt>City</dt><dd>Kamsack</dd>\n<dt>Country</dt><dd>CA</dd>\n<dt>Current Weather</dt><dd>clear sky and 77.72 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Dibbo areaمنطقة دبو</dd>\n<dt>City</dt><dd>Kutum</dd>\n<dt>Country</dt><dd>SD</dd>\n<dt>Current Weather</dt><dd>broken clouds and 79.29 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Mercure Padang</dd>\n<dt>City</dt><dd>Padang</dd>\n<dt>Country</dt><dd>ID</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 76.82 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Cititel Penang</dd>\n<dt>City</dt><dd>Georgetown</dd>\n<dt>Country</dt><dd>MY</dd>\n<dt>Current Weather</dt><dd>thunderstorm and 81.95 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Finch Bay Galapagos Hotel</dd>\n<dt>City</dt><dd>Puerto Ayora</dd>\n<dt>Country</dt><dd>EC</dd>\n<dt>Current Weather</dt><dd>broken clouds and 76.96 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Scoop Guest House</dd>\n<dt>City</dt><dd>Hithadhoo</dd>\n<dt>Country</dt><dd>MV</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 81.97 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [38]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
3    3.0707  172.7902
5   27.9769 -114.0611
8    8.9936  -79.5197
10  12.1694  -83.0418
13  51.5667 -101.9009
15  14.2000   24.6667
34  -0.9492  100.3543
38   5.4112  100.3354
42  -0.7393  -90.3518
43  -0.6000   73.0833

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [39]:
# Add a marker layer for each city to the map. 
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp=clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
                                max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Create a figure to add the Google map as a layer
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Display the figure containing the map
fig

Figure(layout=FigureLayout(height='420px'))